body {
  font-family: 'Fira Code', monospace;
  margin: 0;
  scroll-behavior: smooth;
  max-width: 700px;
  padding: 0 1rem;
  background: #f9f9f9;
  color: #333;
}

h1 {
  color: #2e5d3f;
}

a {
  color: #005b96;
}
