body {
  font-family: 'Fira Code', monospace;
  margin: 0;
  scroll-behavior: smooth;
  max-width: 700px;
  padding: 0 1rem;
  color: #333; /* Dark text color for contrast */
  margin: 0;
  padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto; /* Centers the content */
    padding: 20px;
    background-color: #F0F8FF; /* Soft light color for a subtle background */
    border-radius: 10px; /* Rounded corners for the content container */
}

h1, h2, h3 {
    color: #3E8E41; /* Dark Green for headings */
}

p {
    font-size: 1.1em;
    line-height: 1.6em;
}

header {
    background-color: #2F4F4F; /* Dark green for the header */
    padding: 20px 0;
    text-align: center;
    color: #fff; /* White text in header */
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

nav a:hover {
    color: #FFD700; /* Gold color for hover effect */
}

section {
    padding: 30px 0;
    margin-top: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #2F4F4F; /* Dark green footer */
    color: #fff;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    color: #FFD700; /* Gold for hover */
}
